<div class="container">
  <div class="row">
    store/ {{brand}} / {{category}}</div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img-thumbnail"
            src="https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/rainbow_cake_20402_16x9.jpg" alt="cake" />
        </div>
        <div class="col">
          <h3>{{title}} id:{{id}}</h3>
          <div class="row">some info</div>
          <div class="row">
            <div class="container">
              <button>Buy now</button>
              <button>Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5>Description</h5>
    <p>{{description}}</p>
  </div>
</div>