<div class="container" style ="display: flex;">
  <div class="container" id ="filter" style ="display: flex;flex-flow: column; width: 450px;">
    <h3>Category</h3>
    <div id="category-list" style="height: 300px; overflow: scroll;width: 100%;">
    </div>
    <h3>Brand</h3>
    <div id="brand-list" style="height: 300px; overflow: scroll; width: 100%;">
    </div>
    <h3>Price</h3>
    <div id="price" style ="width: 100%">
      <div id="slider" class="slider-price"></div>
    </div>
    <h3>Stock</h3>
    <div id="stock" style ="width: 100%">
      <div id="slider" class="slider-stock"></div>
    </div>
  </div>
  <div class="container" id ="product-list" style ="display: flex; flex-flow: wrap;">
  </div>
</div>

<template id = "card-template">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <img class="thumbnail" src="#" alt="product" width="100%">
      <p class="card-text"></p>
        <button class="prod-add-cart">Add to cart</button>
        <a class="nav-link" href="#"><button>Show details</button></a>
    </div>
  </div>
</template>

<template id="category-brand-template">
  <div class="category-brand-wrapper" style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
      <input class="category-brand-name" type="checkbox"></input>
      <div class = "category-brand-label"></div></div>
    <div class = "count"></div>
  </div>
</template>