.button-list {
  display: flex;
  flex-direction: row;
}

#product-list {
  display: flex; 
  flex-flow: wrap;
  gap: 8px;
  
  &.grid{
    .card {
      width: 18rem;
    }
  }
  &.list {
      .card {
      width: 100%;

      .card-body{
        display: flex;
        flex-direction: row;
        .card-text {
          width: 80%;
        }
        .card-title,
        .card-price,
        .card-discount,
        .card-rating,
        .card-stock,
        .prod-add-cart { 
          width: 20%;
        }
        .prod-add-cart {
          height: fit-content;
        }
        
      }
    }
  }
}
.brand-list,
.category-list{
  height: 300px; 
  overflow: scroll; 
}

.img-container{
  height: 150px;
  overflow: hidden;
}
.img-container:hover{
  height: 300px;
}
.list .img-container{
  height: 300px;
}
.list .img-container:hover{
  height: 400px;
}