.bin-item{
  border: 1px solid $font_color1;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
}
.bin-item .title{
  background-color: $background1;
    margin-right: 0;
    margin-left: 0;
}
.bin {
  border: 1px solid $font_color1;
}

.sum {
  font-weight: bold;
}

.sum:after {
  content: "$";
}

.discount:after {
  content: "%";
}
// .bin-thumbnail{
//   width: 100px;
//   height: 100px;
// }

.count-container{
  width: 200px;
}
.counter .input-group-text{
  background-color: $background1;
}

.invalid-info {
  display: none;
}

.input-group {
  &:has(input:invalid:focus:not(:placeholder-shown)) {
    & + .invalid-info {
      display: block;
      color: $blue-200;
    }
  }
  input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid $red-300;
    color: $red-300;
  }
  input:invalid:focus:not(:placeholder-shown) {
    color: $red-400;
  }
}

.hide {
  display: none;
}