.bin-item{
  border: 1px solid $font_color1;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
}
.bin-item .title{
  background-color: $background1;
    margin-right: 0;
    margin-left: 0;
}
.bin {
  border: 1px solid $font_color1;
}

.sum {
  font-weight: bold;
}

.sum:after {
  content: "$";
}

.discount:after {
  content: "%";
}

.count-container{
  width: 200px;
}
.counter .input-group-text{
  background-color: $background1;

  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.hide {
  display: none;
}
.form:invalid .pay-btn{
  pointer-events: none;
  background-color: grey;
  color: white;
}

.promo-apply {
  text-decoration: line-through;
  color: $gray-600;
  font-size: larger;
}