
footer {
  background-color: $background1;
  color: $font_color1;
}
.nav-link{
  color: $font_color1;
}
.btn-primary{
  background-color: $background1;
  border-color: $font_color1;
  color: $font_color1;
}
.toast{
  background-color: $background1;
}
