@import "~bootstrap/scss/bootstrap";
@import "./abstract/constants.scss";
@import "./overrides.scss";
@import "../components/views/product/product.scss";
@import "../components/views/bin/bin.scss";

.bin{
  border: 1px solid $font_color1;
}

.sum{
  font-weight: bold;
}

.sum:after { 
  content: "$" }